################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApisTokenAuth/WebApisTokenAuth.Service/obj/Debug
