################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApisTokenAuth/WebApisTokenAuth.Service/obj/Debug
/WebApisTokenAuth/.vs
/WebApisTokenAuth/DBScripts/bin/Debug
/WebApisTokenAuth/WebApisTokenAuth/bin
/WebApisTokenAuth/WebApisTokenAuth.Service/bin/Debug
/WebApisTokenAuth/WebApisTokenAuth.Model/bin/Debug
/WebApisTokenAuth/WebApisTokenAuth/obj/Debug
/WebApisTokenAuth/DBScripts/obj/Debug
/WebApisTokenAuth/WebApisTokenAuth.Model/obj/Debug
/WebApisTokenAuth/WebApisTokenAuth.Core/bin/Debug
/WebApisTokenAuth/WebApisTokenAuth.Core/obj/Debug/edmxResourcesToEmbed/EntityModel
/WebApisTokenAuth/WebApisTokenAuth.Core/obj/Debug
